[submodule "OpenPlatformPkg"]
	path = OpenPlatformPkg
	url = https://github.com/hisilicon/OpenPlatformPkg.git
[submodule "LinaroPkg"]
	path = LinaroPkg
	url = https://github.com/hisilicon/LinaroPkg.git
[submodule "uefi-tools"]
	path = uefi-tools
	url = https://git.linaro.org/uefi/uefi-tools.git
