[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joy Xu (joyxu)
[access "refs/for/refs/*"]
	read = group user/Joy Xu (joyxu)
	push = group user/Joy Xu (joyxu)
	label-Code-Review = -2..+2 group user/Joy Xu (joyxu)
	label-Verified = -1..+1 group user/Joy Xu (joyxu)
	rebase = group user/Joy Xu (joyxu)
	removeReviewer = group user/Joy Xu (joyxu)
	submit = group user/Joy Xu (joyxu)
[access "refs/heads/*"]
	read = group user/Joy Xu (joyxu)
	create = group user/Joy Xu (joyxu)
	push = +force group user/Joy Xu (joyxu)
	pushMerge = group user/Joy Xu (joyxu)
[access "refs/tags/*"]
	push = group user/Joy Xu (joyxu)
	push = +force group user/Joy Xu (joyxu)
